#header {
  height: 100px;
  width: 1000px;
  background: #bbe7e6;
}

#logo {
  display: inline-block;
  width: 250px;
}

#welcomeBanner {
  display: inline-block;
}

#mainContent {
  position: relative;
}

#navigationMenu {
  width: 250px;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.row {
  display: inline-block;
}

.button {
  padding-top: 25px;
}

.row button {
  width: 250px;
  height: 75px;
  display: default;
  background-color: #bbe7e6;
  font-size: 125%;
}

.row button:hover {
  background-color: #2eaba5;
  color: red;
}

#productList {
  width: 750px;
  position: relative;
  left: 250px;
}

.product {
  width: 247px;
  display: inline-block;
}

.thumbnail {
  width: 247px;
  height: 300px;
}

.thumbnail img {
  width: 247px;
  height: 247px;
}

.thumbnail > .caption h3 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 247px;
  font-size: 20px;
}
