/* Set site max width to 1000px */
body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
#welcomeBanner {
    text-align: center;
}
#logo {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
#navigationMenu button {
    background-color: #EEEEEE;
    margin-bottom: 15px;
}
#navigationMenu button:hover {
    background-color: #696969;
    color: white;
}